.follow-us {
  text-align: center;
  .folowing-list {
    > li {
      display: inline-block;
      margin: 15px 15px 0 15px;
    }
  } 

	@media (max-width: $breakpoint-sm) {
	  .folowing-list {
	    > li {
	      margin: 10px 10px 0 10px;    	
	    }
		}
	}
}