footer {
	background: $black none repeat 0 0;
	padding: 10px 0;
	&, *, a:hover, a:focus, a:visited {
		color: $white;
	}	

	#mail-me {
		text-align: center;
		font-size: 14px;
		a {
			text-decoration: none;
		}
	}
}