.product-overview {
  position: relative;

  table {
    border: 1px solid $border-color;
    border-radius: 2px;
    width: 100%;

    th, td {
      width: 200px;
      padding: 10px 15px;
      vertical-align: top;
      text-align: center;
      font-weight: 500;
      border-top: 1px solid $border-color;
      border-left: 1px solid $border-color;

      .label,
      &:first-child {
        text-align: left;
        width: auto;
        @include opacity(.7);
      }

      &.action {
        a {
          span {
            &:first-child {
              display: none;
            }
          }
        }
      }

      .label {
        display: none;
        font-size: 70%;
        margin: -5px 0 5px 0;

        &:after {
          content: ':';
        }
      }
    }

    th {
      font-weight: 700;
      font-size: 120%;
      background: #eee none repeat 0 0;
      border-bottom: 2px solid $border-color;
    }    
  } 

  @media (max-width: $breakpoint-md) {
    table {
      th, td {
        width: 130px;
        padding: 7px 10px;
      }
    }
  }

  @media (max-width: $breakpoint-sm) {
    table {
      th, td {
        width: 33.33%;
        font-size: 100%;
        padding: 7px;

        &:first-child {
          display: none;
        }

        &.action {        
          a {
            padding-left: 5px;
            padding-right: 5px;
            display: block; 
            span {
              display: none;
              &:first-child {
                display: inline;
              }
            }
          }
        }

        .label {
          display: block;
        }
      }
    }
  }
}


.product-menu {
  width: 100%;
  text-align: center;
  clear: both;
  > li {
    float: left;
    width: 32%;
    margin: 0 0 30px 2%;
    &:first-child {
      margin-left: 0;
    }
  }

  @media (max-width: $breakpoint-md-p) {
    > li {
      display: block;
      width: 100%;
      margin: 0 0 10px 0;
    }
  }
}

.product {
  border: 1px solid $border-color;
  background: $white none repeat 0 0;
  @include box-shadow();
  padding: 20px 15px;
  border-radius: 4px;

  .description {
    margin: 0 0 20px 0;
    height: 65px;
  }

  .prices {
    margin: 0 0 20px 0;
    position: relative;

    .toggler {
      display: none;
    }

    .cnt {
      @include transition( all, .6s, ease);
    }
  }

  .action {

  }

  @media (max-width: $breakpoint-md-p) {
    .description {
      height: auto;
    }

    .prices {
      .toggler {
        display: block;
        display: none;
      }
    }
  }
}