.product-overview {

  table {
    border: 1px solid $border-color;
    border-radius: 2px;
    width: 100%;

    th {
      font-weight: 700;
      font-size: 130%;
      background: #eee none repeat 0 0;
      border-bottom: 2px solid $border-color;
    }

    th, td {
      width: 200px;
      padding: 10px 15px;
      vertical-align: top;
      text-align: center;
      font-weight: 500;

      border-top: 1px solid $border-color;
      border-left: 1px solid $border-color;

      &:first-child {
        text-align: left;
        width: auto;
        @include opacity(.7);
      }

      &.action {
        border-top: 2px solid $border-color;        
      }
    }

  } 
}


.product-menu {
  width: 100%;
  text-align: center;
  clear: both;
  > li {
    float: left;
    width: 32%;
    margin: 0 0 30px 2%;
    &:first-child {
      margin-left: 0;
    }
  }

  @media (max-width: $breakpoint-md-p) {
    > li {
      display: block;
      width: 100%;
      margin: 0 0 10px 0;
    }
  }
}

.product {
  border: 1px solid $border-color;
  background: $white none repeat 0 0;
  @include box-shadow();
  padding: 20px 15px;
  border-radius: 4px;

  .description {
    margin: 0 0 20px 0;
    height: 65px;
  }

  .prices {
    margin: 0 0 20px 0;
    position: relative;

    .toggler {
      display: none;
    }

    .cnt {
      @include transition( all, .6s, ease);
    }
  }

  .action {

  }

  @media (max-width: $breakpoint-md-p) {
    .description {
      height: auto;
    }

    .prices {
      .toggler {
        display: block;
        display: none;
      }
    }
  }
}