/******************************************************************************
 == header ==
******************************************************************************/
header {
    height: var(--header-height);
    border-bottom: 2px solid var(--color-darkest);
    display: flex;
    flex-direction: column;
    justify-content: end;
    white-space: nowrap;
    position: relative;
}

header h1 {
    padding: 0;
    font-size: var(--font-size-regular);
    color: var(--color-white);
    visibility: hidden;
}

.header-title-wrapper:after,
.header-title-wrapper:before {
    /*
    content: 'N83';
    font-family: "Sofia", sans-serif;
    color: var(--color-white);
    line-height: 180px;
    font-size: 60px;
    text-align: center;
    display: inline-block;
    */
    content: '';
    width: 260px;
    height: 260px;
    position: absolute;
    left: 0;
    top: 0;
    margin-top: -90px;
    background: var(--color-dark) none no-repeat center center;
    border: 26px solid var(--bg-color);
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    border-radius: 70% 30% 30% 70% / 60% 40% 60% 40%;
    border-radius: 100%;
}

.header-title-wrapper:after { 
    background: transparent url('../image/logo/n83-white.svg') no-repeat center center / auto 60%;
}

.header-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    position: relative;
}

.header-content .menu-item {
    display: inline-block;
    margin-left: var(--space-large);
    text-decoration: none;
    font-size: var(--font-size-regular);
    font-weight: 500;
    min-width: 80px;
}

.header-content .menu-item.-active {
    font-weight: 700;
}

/******************************************************************************
 == main ==
******************************************************************************/
main .panel-wrapper { display: none; }
main.open-panel-home .panel-wrapper.-home { display: block; }
main.open-panel-books .panel-wrapper.-books { display: block; }
main.open-panel-blog .panel-wrapper.-blog { display: block; }
main.open-panel-contact .panel-wrapper.-contact { display: block; }

main .main-content {
    padding-top: 130px;
    padding-bottom: 130px;
}

/******************************************************************************
 == footer ==
******************************************************************************/
footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    background-color: var(--color-dark);
}

footer .layout-outer {
    padding-top: 0;
    padding-bottom: 0;
}

footer .icon-btn {
    margin: var(--space-extra-small-min) var(--space-small);
}

/******************************************************************************
 == home-wrapper ==
******************************************************************************/
#home-wrapper .coming-soon-holder {
    max-width: 620px;
    margin: 40px auto;
    text-align: center;
}

#home-wrapper .coming-soon-holder h2 {
    font-size: 36px;
}

#home-wrapper .coming-soon-holder .lead {
    font-size: var(--font-size-medium);
}

#home-wrapper .coming-soon-holder .info {
    font-size: var(--font-size-regular);
    font-style: italic;
}

/******************************************************************************
 == books-wrapper ==
******************************************************************************/
#books-wrapper {
}

/******************************************************************************
 == blog-wrapper ==
******************************************************************************/
#blog-wrapper {
    text-align: center;
}

/******************************************************************************
 == studio-wrapper ==
******************************************************************************/
#contact-wrapper {
}

/******************************************************************************
 == book ==
******************************************************************************/
.book-link-wrapper {
    text-decoration: none;
}

.book-wrapper {
    padding: 0;
    border-radius: var(--border-round);
    position: relative;
}

.book-wrapper img {
    height: 100%;
}

/*** book-thumb-wrapper */
.book-thumb-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.book-thumb-wrapper .book-link-wrapper {
    width: 250px;
    padding: var(--space-extra-small-max);
    margin: var(--space-small) var(--space-extra-small);
    border-radius: var(--card-round);
    border: 0 none;
}

.book-thumb-wrapper .book-link-wrapper:active,
.book-thumb-wrapper .book-link-wrapper:focus,
.book-thumb-wrapper .book-link-wrapper:hover {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.book-thumb-wrapper .book-link-wrapper .image-holder {
    height: 320px;
    text-align: center;
    padding: var(--space-small);
    margin: 0 0 var(--space-small) 0;
    background-color: var(--card-color);
    border-radius: var(--card-round);
}

.book-thumb-wrapper .book-link-wrapper .info-item {
    font-weight: 500;
    font-size: var(--font-size-small);
    display: none;
}

.book-thumb-wrapper .book-link-wrapper .info-item.name,
.book-thumb-wrapper .book-link-wrapper .info-item.price {
    display: block;
}

.book-thumb-wrapper .book-link-wrapper .info-item.name {
    height: 44px;
    margin: 0 0 var(--space-extra-small) 0;
    overflow: hidden;
}

.book-thumb-wrapper .book-link-wrapper .info-item.price {
    font-size: var(--font-size-regular);
    font-weight: 600;
}


/*** book-info-wrapper */
.book-info-wrapper .book-wrapper {
    max-width: 980px;
    margin: 0 auto;
    display: flex;
    flex-direction: row-reverse;
}

.book-info-wrapper .book-wrapper + .book-wrapper {
    margin-top: 60px;
}

.book-info-wrapper .book-wrapper .info-holder,
.book-info-wrapper .book-wrapper .image-holder {
    width: 100%;
    padding: var(--space-large);
    border-radius: var(--card-round);    
}

.book-info-wrapper .book-wrapper .image-holder {
    background-color: var(--card-color);
    max-width: 400px;
}

.book-info-wrapper .book-wrapper .info-holder {
    padding: var(--space-extra-large-max);    
}

.book-info-wrapper .book-wrapper .info-holder .info-content {
    /*
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 103%;
    justify-content: flex-end;
    */
}


.book-info-wrapper  .book-wrapper .info-item {
    padding: 0 0 var(--space-small-max) 0;
    opacity: .8;
}

.book-info-wrapper .book-wrapper .info-item.price {
    padding: var(--space-medium) 0;
    font-size: var(--font-size-large);
}

.book-info-wrapper .book-wrapper .info-item.name {
    font-weight: 600;
    opacity: .9;
}

.book-info-wrapper .book-wrapper .info-item.link {
    opacity: 1;
}

/******************************************************************************
 == Tablet ==
******************************************************************************/
@media screen and (max-width: 1024px) {
}

/******************************************************************************
 == Mobile ==
******************************************************************************/
@media screen and (max-width: 768px) {
    .header-title-wrapper:after,
    .header-title-wrapper:before {
        border: 0 none;
        height: 80px;
        width: 80px;
        margin: -4px 0 0 0;
    }

    main .main-content {
        padding-top: 60px;
    }

    .header-content .menu-item {
        margin-left: var(--space-extra-small-max);
    }
}

@media screen and (max-width: 600px) {
    .book-thumb-wrapper .book-link-wrapper {
        width: 100%;
        margin: 0;
    }

    .book-thumb-wrapper .book-link-wrapper .book-wrapper {
        display: flex;
        flex-direction: row-reverse;
    }

    .book-thumb-wrapper .book-link-wrapper  .book-wrapper .info-holder,
    .book-thumb-wrapper .book-link-wrapper  .book-wrapper .image-holder {
        width: 100%;
        padding: var(--space-medium);
    }

    .book-thumb-wrapper .book-link-wrapper .book-wrapper .image-holder {
        background-color: var(--card-color);
        max-width: 400px;
        height: auto;
        margin: 0;
    }

    .book-thumb-wrapper .book-link-wrapper  .book-wrapper .info-holder {
        padding-left: 0;
    }

    .book-thumb-wrapper .book-link-wrapper .info-item.name {
        height: auto;
    }

    .book-info-wrapper .book-wrapper {
        display: block;
    }

    .book-info-wrapper .book-wrapper .image-holder {
        max-width: none;
    }

    .book-info-wrapper .book-wrapper .info-holder {
        padding: var(--space-medium);    
    }

    .book-info-wrapper .book-wrapper .info-item.link {
        text-align: center;
    }
}

