


/******************************************************************************

******************************************************************************/
#travel-schedule-holder {
	.rom-item {
		float: left;
		width: 48%;
		margin-left: 2%;

		&.-action-row {
			width: 100%;
			text-align: center;
		}
	}
}