.slider-wrapper {
  overflow: hidden;
  padding: 0;
  margin: 0;

  .slider-track {
    margin: 40px 20px;
    /* Block area from manipulation actions (zoom, pan) */
    /*-ms-touch-action: none;*/
    -ms-touch-action: pan-y;

    &, &:before, .slider-tail, .slider-tail:before {
      position: relative;
      height: 10px;
      background-color: $grey-light;
      border-radius: 10px;
    }

    &:before, .slider-tail:before {
      content: " ";
      position: absolute;
      left: -20px;
      right: -20px;
      top: 0;
    }

    .slider-tail, .slider-btn {
      position: absolute;
      left: 0;
      top: 0;      
    }

    .slider-btn {
      text-align: center;
      font-weight: bold;
      border-radius: 100%;
      border: 6px solid $blue-royal-light-wcag;
      background-color: $white;
      z-index: 2;
      text-indent: -5000px;
      width: 40px;
      height: 40px;
      margin: -15px 0 0 -20px;
      overflow: hidden;

      &:hover, &:focus {
        border-color: $blue-royal;
      }
    }

    .slider-tail {
      &, &:before {
        background-color: $blue-flat;
      }
    }
  }  

  .slider-input-wrapper {
    overflow: hidden;
    input:not([type='submit']):not([type='checkbox']):not([type='radio']):not([type='reset']) {
      width: 200px;
      float: right;

      &:first-child {
        float: left;
      }

      @media only screen and (max-width: 460px) {
        max-width: 133px;
      }
    }
  }
}